<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>customers</servlet-name>
        <servlet-class>model.customers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customers</servlet-name>
        <servlet-class>model.Customers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controllercustomers</servlet-name>
        <servlet-class>controller.Controllercustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCs</servlet-name>
        <servlet-class>controller.ControllerCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCustomers</servlet-name>
        <servlet-class>controller.ControllerCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProducts</servlet-name>
        <servlet-class>controller.ControllerProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerKhachhang</servlet-name>
        <servlet-class>controller.ControllerKhachhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCartBean</servlet-name>
        <servlet-class>controller.ControllerCartBean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customers</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customers</servlet-name>
        <url-pattern>/Customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controllercustomers</servlet-name>
        <url-pattern>/Controllercustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCs</servlet-name>
        <url-pattern>/CCs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCustomers</servlet-name>
        <url-pattern>/ControllerCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProducts</servlet-name>
        <url-pattern>/ControllerProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerKhachhang</servlet-name>
        <url-pattern>/ControllerKhachhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCartBean</servlet-name>
        <url-pattern>/ControllerCartBean</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
